version: '3.8'

services:
  115-bot-admin:
    container_name: 115-bot-admin
    build: .
    # 1. 关键：工作目录设在根目录 /app
    working_dir: /app
    # 2. 关键：命令是 backend.main:app
    command: uvicorn backend.main:app --host 0.0.0.0 --port 12808 --reload
    ports:
      - "12808:12808"
    volumes:
      - .:/app
    environment:
      - TZ=Asia/Shanghai
      - PYTHONDONTWRITEBYTECODE=1
    restart: always
