version: "3.8"
services:
  backend:
    build: ./backend
    container_name: telegram_115_backend
    restart: unless-stopped
    ports:
      - "12808:12808"
    volumes:
      - ./backend/config.json:/app/config.json
      - ./backend/uploads:/app/uploads
      - ./backend/backend.log:/app/backend.log
      - ./backend/secrets.db:/app/secrets.db
      - ./backend/data.db:/app/data.db
