version: "3.8"
services:
  backend:
    image: janebin/telegram-115bot:latest
    container_name: telegram_115_backend
    restart: unless-stopped
    ports:
      - "12808:12808"
    volumes:
      - ./backend/config.json:/app/config.json
      - ./backend/uploads:/app/uploads
      - ./backend/backend.log:/app/backend.log
      - ./backend/secrets.db:/app/secrets.db
      - ./backend/data.db:/app/data.db
      - ./backend/data:/app/data   # 挂载整个 data 文件夹，保证密码数据库持久化
