version: '3.8'

services:
  telegram-115bot:
    build: .
    container_name: telegram-115bot
    restart: always
    ports:
      - "12808:12808"
    volumes:
      - ./config.yml:/app/config.yml
      - ./data:/app/data